/* Variables */
:root {
  --mobile-width: 800px;

  --scrollbar-color: rgb(149, 149, 149);
  --scrollbar-track-color: rgb(23, 23, 23);
  
  /* Text colors */
  --text-color: rgb(27, 31, 34);
  --nw-text-color: #fff;

  /* Background color */
  --background-color: rgb(255, 255, 255);
  --content-background-color: rgb(238, 242, 245);
  --menu-background-color: rgb(244, 247, 248);

  /* Opposing colors */
  --op-text-color: #ffffff;
  --op-background-color: rgb(24, 25, 28);
  --op-content-background-color: rgb(20, 20, 23);
  --op-menu-background-color: rgb(30, 32, 35);

  /* Border color */
  --border-color: #282c34;
  --border-color-transparent: rgb(0,0,0,0.4);

  /* Highlight color */
  --highlight: #9e1663;
  --faint-highlight: #c04e8f;

  /* Components */

  /* Theme Selector */
  --theme-selector-gradient: linear-gradient(to right, yellow -20%, red);

  /* Onscreen Keyboard Color */
  --keyboard-key-color: rgb(0,0,0,0);
  --keyboard-key-border-color: rgb(30, 30, 31);
  --keyboard-key-border-image-gradiant: linear-gradient(to top, rgba(30,30,31,1) 20%, rgba(0,0,0,0) 80%) 1;

  /* Ordet: Colors */
  --unused-background-color: rgb(135, 135, 145, 0.7);
  --misplaced-background-color: rgb(238, 203, 5, 0.7);
  --correct-background-color: rgb(82, 148, 16, 0.7);
  --unused-background-gradient: linear-gradient(to top, rgb(135, 135, 145, 0.7) 10%, rgb(0,0,0,0) 80%);
  --misplaced-background-gradient: linear-gradient(to top, rgb(238, 203, 5, 0.7) 10%, rgb(0,0,0,0) 80%);
  --correct-background-gradient: linear-gradient(to top, rgb(82, 148, 16, 0.7) 10%, rgb(0,0,0,0) 80%);
}

.dark {
  /* Text colors */
  --text-color: #ffffff;

  /* Background color */
  --background-color: rgb(24, 25, 28);
  --content-background-color: rgb(20, 20, 23);
  --menu-background-color: rgb(30, 32, 35);

  /* Opposing colors */
  --op-text-color: rgb(27, 31, 34);
  --op-background-color: rgb(244, 247, 248);
  --op-content-background-color: rgb(238, 242, 245);
  --op-menu-background-color: rgb(255, 255, 255);

  /* Border color */
  --border-color: #fff;
  --border-color-transparent: rgb(255,255,255,0.4);

  /* Components */

  /* Theme Selector */
  --theme-selector-gradient: linear-gradient(to right, blue -20%, indigo);

  /* Onscreen Keyboard Color */
  --keyboard-key-color: rgb(0,0,0,0);
  --keyboard-key-border-color: rgb(255, 255, 255);
  --keyboard-key-border-image-gradiant: linear-gradient(to top, rgba(255,255,255,1) 20%, rgba(0,0,0,0) 80%) 1;
}

/*html, body, #__nuxt {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  position: fixed;

  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

#__nuxt {
  overflow: hidden;
}*/

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

.page-enter-from{
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* What the actuall fuck is this? And why does it only exist in chrome?*/
#pt-ext-root {
  height: 0;
}


::-webkit-scrollbar {
  position: fixed;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}
::-webkit-scrollbar:hover {
  background: var(--scrollbar-track-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 6px;
}